.register {
    margin-top: 8vh;
    padding-bottom: 25px;
    margin-bottom: 30vh;
}

.form-label-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

#inputImagem {
    padding-left: 0;
    border: 0;
}