<div class="shopping-history">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 mx-auto">
                <div class="history">
                    <h3 class="card-register-title text-center">Produtos Comprados</h3>
                    <ul class="shopping-list">
                      <li>
                        <div class="name-button"><h4>Nome do produto 1</h4><br>
                          <button class="avaliar" (click)="btnClick()">Avaliar</button>
                        </div>
                      </li>
                      <li>
                        <div class="name-button"><h4>Nome do produto 2</h4><br>
                          <button class="avaliar" (click)="btnClick()">Avaliar</button>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
