<div class="authentication">
  <div class="card-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="text-center">Informe o seu email para que as instruções de recuperação da senha sejam enviadas.</h5>
              <form class="form-signin" [formGroup]="forgotPasswordForm">
                <div class="form-label-group">
                  <label>Email</label>
                  <input formControlName="email" type="email" placeholder="Email" id="inputEmail" class="form-control" required autofocus>
                </div>
    
                <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="reset()" type="submit">Enviar</button>
                <button class="btn btn-lg btn-secondary btn-block text-uppercase" [routerLink]="['/login']">Voltar para o login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>